.pagefej {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #fff;
 .lead {
    font-size: 112.5%;
    line-height: 1.5;
    font-weight: 700;
    p {
      margin-top: 0;
    }
  }
  h2, h3 {
    text-transform: none;
  }
}

.innernav {
  border-bottom: none;
  position: absolute;
  bottom:0;
 .nav-tabs {
    border-bottom: none;
    > li > a {
      //text-transform: uppercase;
      //font-weight: 700;
      font-size: .75rem;
      padding: .666em .875em;
      //border-bottom: none;
      margin-bottom: 6px;
      @include breakpoint($s2) {
        margin-bottom:0;
      }
      @include breakpoint($s3) {
        font-size: 1rem;
      }
    }
    >li.active {
      > a:hover,  > a:focus {
        text-decoration: underline;
        cursor: pointer;

      }
    }
  }
}


.onlydialog.pagecopy {
  background: $blue-120;
  color:#fff;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  float:none;
  .betegseg-list {
    > li {
      width: 100%;
      float:none;
      clear: both;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  p a {
    color:inherit;
  }
}
