.contact-wrap{
  @include clearfix();
  margin:2em 0;
  padding:1em 1em;
  border:1px solid $blue-90;
  background-color: #fff;
  background-color: rgba(#fff,0.5);


}





#respond, .contact-form {
  .error{
    background-color:$orange;
    border:1px solid $red;
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    padding:0.25em;
  }
  .success{
    background-color:$eggplant;
    border:1px solid $blue-120;
    font-weight: 700;
    font-size: 1.25em;
    display: block;
    padding:0.25em;
  }
  .controls {
    margin:1em 0;
  }
  label {
    display: none;
  }
  label.checklabel {
    display: inline-block;
    input[type="checkbox"] {
      float:left;
      margin: .4rem .5rem 0 0;
    }

  }
  input[type="text"], input[type="email"], textarea, select {
    display: block;
    border:1px solid $blue;
    width:100%;
    background: $white;
    margin:0.5em 0;
    padding:0.5em 0.5em;
    color:$blue-text;
    &:hover, &:focus {
      outline:1px solid lighten($blue-30,40%);
      //  background:$gray-lighter;
    }

  }
  select {
    height:2.25em;
  }

  .btn {
    margin:0.5em 0;
    //float:right;
    border:none;
    background: $red;
    color:$white;
    font-weight: 700;
    display: block;
    width:100%;
    padding:0.5em 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover,  &:focus {
      background: $orange;
    }
  }

  .oki{
    clear:right;
    font-size: 0.875em;
    line-height:1.25em;
    font-style: italic;
  }

}

.contact-form {
  clear: both;
  #result {
    @include clearfix();
    .error, .success {
      font-size: .875em;
      background-color: transparent;

    }
    .error {
      color:$orange;
    }
  }
  .actions {
    @include clearfix();
  }
}
.map-canvas {
 height: 320px;
 width:100%;
}



