.page-template-template-contact-php .main{

  h3 {
    color:$blue-text;
  }
  p {

  }
  

  .gmap {
    height:240px;
    margin-top:1em;
    
    @include breakpoint($s2) {
      height:700px;
    } 

  }


}





