/* ==========================================================================
   Footer
   ========================================================================== */
.content-info {
	background: black;
	color:$blue-90;
  font-size:0.875em;
  line-height:1.4em;
  //font-family: $sans-serif;
  //font-weight: 300;

  a {
    color:$red;
  }
}


.footer-dark{
  @include clearfix();

  font-size:0.875em;
  line-height:1.4em;
  background-color: $blue-30;
  background-image: url('../img/barany.png');
  background-position: 1em 95%;
  background-repeat: no-repeat;
  background-size: 120px auto;
  .row{
    
  }
}

.footer-light{
  @include clearfix();
  font-size:0.875em;
  line-height:1.4em;
  background-color: $blue-90;
}

.ernyomarkak{
  padding:1em;
  @include breakpoint($s2){
    width:33.333%;
    float:left;

  }
  h3{
    text-align: center;
  }
  ul {
    @include clearfix();
    margin:0;
    padding:0;
    li {
      list-style-type: none;
      padding:1em 0;
      width:50%;
      float:left;
      text-align: center;
    }
  }

}
.partnerek{
  padding:1em;
  @include breakpoint($s2){
    width:33.333%;
    float:left;

  }
  h3{
    text-align: center;
  }
  a{
    display: block;
    text-align: center;
    margin:2em auto;
    width:70%;
    &.cpaplink{
      width:40%;
    }

  }

}
.penztar{
	text-align:center;
  padding:1em;
  @include breakpoint($s2){
    width:33.333%;
    float:left;

  }
  .socials{
    @include clearfix();
    //margin:1em auto;
    a {
      //float:left;
      display: inline-block;
      margin:0 0.5em;
      color:$blue-120;
      i{
        font-size: 3em;
        //display: block;
      }
    }
  }
}

.aboutus {
  text-align:center;
  padding:70px 1em 1em;
  margin:2em 0;
  background-image: url('../img/ikon-sc.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
  background-size: 60px auto;
  @include breakpoint($s2){
    width:33.333%;
    float:left;

  }
  h3{
    //text-align: center;
  }
}

.naplo-block{
	text-align:center;
  padding:70px 1em 1em;
  margin:2em 0;
  background-image: url('../img/ikon-naplo.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
  background-size: 60px auto;
  @include breakpoint($s2){
    width:33.333%;
    float:left;
  }
  h3{
    //text-align: center;
  }
  .btn {
	  margin-top:1em;
  }
}
  .catmore{
    color:$orange;
    font-style:italic;
    display:block;
    text-align:right;
    margin-top:1em;
  }

.newsletter-block{
  text-align:center;
  padding:70px 1em 1em;
  margin:2em 0;
  background-image: url('../img/ikon-hirlevel.png');
  background-position: 50% 10px;
  background-repeat: no-repeat;
  background-size: 60px auto;

  @include breakpoint($s2){
    width:33.333%;
    float:left;

  }
  h3{
    //text-align: center;
  }
}