.toptel{
  background-color: $eggplant;
  color:$blue-90;
  background-image: url('../img/hattter-05.png'), url('../img/hattter-01.png'), url('../img/hattter-04.png');
  background-repeat: repeat;
  background-position: right bottom, left top, center center;
  //background-size: cover;

  a{
    color:$blue-90;
    &:hover, &:focus{
      color:$orange;
      text-decoration: none;
    }

  }

  .cell {
    @include clearfix();
    text-align: right;

    

    @include breakpoint ($s1) {
      padding:1em;
      width:50%;
      float:left;
    }
    @include breakpoint ($s3) {
      width:25%;
    }

  }
  .cellcim {
    text-align: left;
  }

  h3 {
    font-size: 1.333em;
    margin:0.5em 0; 
    small{
      display: block;
      font-size: 0.875em;
      font-weight: 700;
    }
    a{

    }
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  background:$blue-30;
  //$blue-90;
  border-top: 3px solid $eggplant;
  //background: url('../img/pioca-eggplant-top.png') repeat-x left bottom, url('../img/watermark.png') no-repeat center -220px white;
  background: url('../img/watermark.png') no-repeat center -220px $blue-30;
  

}

.brand {
  display:none;
	position: absolute;
  top:0em;
	z-index:1;
  background: $blue;
  max-height:171px;
  overflow: hidden;
  display: block;
  

  &:hover, &:focus {
    //border-top:0.25em solid $blue-120;
    background-color: $blue-120;
  }
  
  @include breakpoint ($s2) {
  }

  @include breakpoint ($s3) {
    width:286px;

  }




  img {
    display: none;    
    @include breakpoint ($s2) {
    }


    @include breakpoint ($s3) {
      display: block;
      //margin:1.5em 0.75em 1.875em;
      //max-width: 285px;

    }


    //display: none;
  }


}

.hs {
  display:block;
  width:72px;
  height:72px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  background-color: $blue;
  //margin-top: -3px;
  color:$blue-90;
  float:right;
  &:hover, &:focus{
    background-color: $eggplant;
    color:$blue-90;
    text-decoration: none;
    
  }
  @include breakpoint ($s2) {
      display:block;
  }


}

.info {
  @include clearfix();

  display:none;
  color:$blue-120;
  font-weight: bold;
  height:2em;
  font-size: 1.25em;
  line-height: 2em;
  @include breakpoint($s2) {
    display:block;
    position:absolute;
    left:1.25em;
    top:40px;
  }
  @include breakpoint ($s3) {
    left:30%;
  }
  @include breakpoint ($s4) {
    left:38%;
  }

  .smart {
    @include clearfix();
    position: relative;
    height:2em;
    display:inline-block;
    text-align: center;
    color:$blue;
    //text-transform: uppercase;
    font-variant: small-caps;
    &:after {
      content:"|";
      padding:0 0.5em;
      display: inline;
    }
    &:last-child:after {
      content:"";
      padding:0 0;
    }
    &:hover, &:focus{
      color:$blue-120;
      text-decoration: none;
      .varos {
        //opacity:0;
      }
      .tel{
        opacity: 1;
      }
    
    }
  }
  .varos {
    display: inline-block;
    //position: absolute;
    //left:0; right:0;
  }
  .tel {
    display:block;
    opacity:0;
  }
}



.hero-block {
  @include clearfix();
  margin-bottom: 1em;
  @include breakpoint($s2) {
    position:absolute;
    bottom:0;
    //width:75%;
    //float:left;
  }
  @include breakpoint($s3) {
    bottom:1em;
    //width:66.666%;
  }
}

.hero-text {
  margin:2em auto 0 auto;
  
  .nagy{
    font-size:3em;
    line-height: 1.25em;
    font-weight: 400;
    margin:0 0;
          text-transform: uppercase;
    span{
      display: inline;
      color:white;
      background:rgba($blue-120,0.75);
      box-shadow: 0.125em 0 0 rgba($blue-120,0.75), -0.125em 0 0 rgba($blue-120,0.75);
    }
  }
  .kicsi {
    font-size:1em;
    line-height: 1.25em;
    margin:0 0 0 0;
    font-weight: 400;
    text-transform: uppercase;
    span{
      display: inline;
      color:$blue-120;
      background-color:rgba($blue-90,0.75);
      box-shadow: 0.125em 0 0 rgba($blue-90,0.75), -0.125em 0 0 rgba($blue-90,0.75);
      font-size:1.5em;
      line-height: 1.25em;
      text-transform: uppercase;
    }
  }
}

.hero-action {
  margin:2em auto 0 auto;
  a{
    margin-top: 0.25em;
    font-size:1.25em;
    padding:0.5em 0.5em;
  }
}


.telfej {
  @include clearfix();
  background: rgba($blue,0.90);
  color:#fff;
 
  border-radius: 50%;
  text-align: center;
  //position: relative;
  width:240px;
  height:240px;
  margin:2em auto 1em auto;
  //margin-left: calc((100% - 240px) / 2);
  //float:left; 
   
  @include breakpoint($s1) {
  }

  @include breakpoint($s2) {
    margin-left: 0;
    float:right;
  }
  @include breakpoint($s3) {
  }

  .tart {
    @include clearfix();
    position: relative;
    padding:0 10px;
    margin-top:55%;
    transform:translateY(-50%);
    font-size: 18px;
    line-height: 18px;
  }

  .head{
    color:$orange;
    display:block;
    //text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;

  }
  .telcsi {
    margin:4px 0 12px;
    display: block;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color:#fff;
  }
  .click {
    //display: inline-block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color:$blue-90;
    text-transform: uppercase;
    font-family: $sans-serif;
    &:hover, &:focus {
      //color: $orange;
      //text-decoration:none;

    }
  }
}

.home-top {
  background: $blue-30;
  border-bottom: 6px solid white;
  background: url(../img/parocska.jpg) no-repeat center bottom $blue-30;
  background-size:cover;
  overflow:hidden;
  position: relative;
  
  min-height: 320px;
  @include breakpoint($s1) {

  }
  @include vbreakpoint($s2) {
    min-height: 400px;
  }
  @include vbreakpoint($s2) {
    min-height: 500px;
  }

  @include vbreakpoint($s3) {
    min-height: 600px;
  }
}

.page-headerfigure {
  position:relative;
  background-color: $gray-lighter;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/parocska.jpg');
  overflow:hidden;
  border-bottom: 6px solid white;
  min-height: 320px;
  @include breakpoint($s1) {
  }

  @include vbreakpoint($s2) {
    min-height: 400px;
  }
  @include vbreakpoint($s2) {
    //min-height: 500px;
  }
  @include vbreakpoint($s3) {
    min-height: 600px;
  }

  .hero-text {
    //max-width: $s2;
    
    @include breakpoint($s2) {
      max-width: 500px;
    }
    @include breakpoint($s3) {
      max-width: $s2;
    }


    .nagy {
      font-size:2.5em;
      line-height: 1.25em;

      span {
        background:rgba($eggplant,0.85);
        box-shadow: 0.125em 0 0 rgba($eggplant,0.85), -0.125em 0 0 rgba($eggplant,0.85);
      }
    }
    .kicsi{
      font-size:0.875em;
      line-height: 1.4em;

    }
  }

  .breadcrumbs {
    position: absolute;
    right:0;top:0;left:0;
    margin:2em auto;
    max-width: $s3;
  }

}