.home-top {
  background: $blue-30;
  border-bottom: 6px solid white;
  background: url(../img/parocska.jpg) no-repeat center bottom $blue-30;
  background-size:cover;
  overflow:hidden;
  position: relative;
  
  min-height: 320px;
  @include breakpoint($s1) {

  }
  @include breakpoint($s2) {
    min-height: 400px;
  }
  @include breakpoint($s3) {
    min-height: 500px;
  }
}

.hero-block {
  @include clearfix;
  margin-bottom: 2em;
  @include breakpoint($s2) {
    position: absolute;
    bottom:2em;
  }
  @include breakpoint($s3) {
    bottom:2em;
  }
}

.hero-text {

  max-width: $s2;
  margin:2em auto 0 auto;
  //text-align: center;
  p{

    display: inline;
    color:white;
    background:rgba($blue-120,0.5);
    box-shadow: 0.125em 0 0 rgba($blue-120,0.5), -0.125em 0 0 rgba($blue-120,0.5);

    font-size:2.5em;
    line-height: 1.25em;
    text-transform: uppercase;
  }
}

.hero-action {
  margin:0.5em auto 0 auto;
  //text-align: center;
  a{
    margin-top: 0.25em;
    font-size:1.25em;
    padding:0.5em 0.5em;
  }
}


.home-banner {
  background:white;
  //color:$blue-90;
  
  padding:2em 4em;
  margin:2em 0;

  h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin:0;
    float:left;
    max-width:66.6666666%;
    small {
      display:block;
    }
  }
  .btn {
    max-width: 33.33333%;
    float: right;
  }
}



.disc-blokk {
  font-family: $sans-serif;
  padding:1em;
  color:$blue-120;
  background: $blue-30;
  min-height: 420px;
  @include breakpoint($s2){
    width:99%;
    margin-left:2%;
  }
 

  h3 {
    font-family: $sans-serif;
    font-weight: 600;

    font-size:1em;
    small{
      display:block;
      text-transform: none;
    }
  }

  h4 {

    font-size: 1em;
    text-transform: none;

  }

  ul {
    margin:1em 0 2em;
    padding:0 0 0 0;
    font-weight: 300; 
  }

  li {
    list-style-type: none;
    a {
      color:white;
    }

  }
}

.page-template-page-home-php {
  .container[role="document"]{
    .row {
      max-width: $maximum;
      margin:0 auto;
      padding:0 6px;
      @include breakpoint($s1) {
        padding:0 12px;
      }
      @include breakpoint($s2) {
        padding:0 1em;
      }  
    }
  }

  .main.wide {
    font-size: 0.875em;
    margin:0 auto;
    padding:2em 0;
    @include breakpoint($s2) {
      width:auto;
    }
    @include breakpoint($s3) {
    }
  }

  .jobbfel {
    @include breakpoint($s2) {
      @include clearfix;
      width:33.333333333%;
      float:right;
    }
  }

  .balfel {
    @include breakpoint($s2) {
      @include clearfix;
      width:66.666666666%;
      float:left;
    }
  }

}