.home-banner {
  background:white;
  //color:$blue-90;
  
  padding:2em 4em;
  margin:2em 0;

  h3 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin:0;
    float:left;
    max-width:66.6666666%;
    small {
      display:block;
    }
  }
  .btn {
    max-width: 33.33333%;
    float: right;
  }
}


.home-bottom {
  background-color: #fff;
  .content {
    @include clearfix();
    background-image: url('../img/doki_korbevagva.png');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: auto 650px;
    
    @include breakpoint($s1){
      background-position: -140px bottom;
      background-size: auto 80%;
    }

    @include breakpoint($s2){
      background-position: left bottom;
      background-size: auto 100%;
    }

  }
  .ugyerzi {
   margin:2em 0;
   //display: none;
  }
}
.disc-blokk {
  color:$blue-120;
  font-size: 1.25em;
  line-height: 1.4em;
  padding:2em 0 2em 0;
  margin-bottom: 15em;

  @include breakpoint($s1){
    padding-left: 25%;
    margin-bottom:0;
  }

  @include breakpoint($s2){
    padding-left: 50%;
  }
 


  h3 {

    font-size:1.25em;
    small {
    }


    small{
      display:block;
      text-transform: none;
    }
  }

  h4 {

    font-size: 0.875em;
    text-transform: none;
    font-weight: 700;

  }

  ul {
    margin:1em 0 2em;
    padding:0 0 0 0;
    //font-weight: 300; 
  }

  li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
    a {
            //color:white;
    }

  }
}

.page-template-page-home-php {
  .container[role="document"]{
    .row {
      max-width: $maximum;
      margin:0 auto;
      padding:0 6px;
      @include breakpoint($s1) {
        padding:0 12px;
      }
      @include breakpoint($s2) {
        padding:0 1em;
      }  
    }
  }

  .main.wide {
    font-size: 0.875em;
    margin:0 auto;
    padding:2em 0;
    @include breakpoint($s2) {
      width:auto;
    }
    @include breakpoint($s3) {
    }
  }

  .jobbfel {
    @include breakpoint($s2) {
      @include clearfix;
      width:33.333333333%;
      float:right;
    }
  }

  .balfel {
    @include breakpoint($s2) {
      @include clearfix;
      width:66.666666666%;
      float:left;
      margin-right:0;
    }
  }

}