.landinghead{
  @include clearfix();
}
.landingbott{
  @include clearfix();
  background-color: $white;
}
.contact-wrap{
  //background-color: rgba($eggplant,0.75);
}
.landcont-wrap{
  padding:2em 0;
}
.landing-title{
  margin-bottom:2em;
}
.landing-content {
  font-size: 1.25em;

  ul.pipas {
    text-transform: uppercase;
    font-weight: 700;
    li {
      &:before {
        color:$eggplant;
      }
    }
  }
}

