.page.page-template-page-landing-php {
  .main.wide {
    padding:2em 0 5em;
    background-color:$blue-120;
    color:#fff;
    // ul.pipas {
    //   li {
    //     &:before {
    //       color:$orange;
    //     }
    //   }
    // }
  }
  .vizsgalatokhoz {
    margin-top:-3.025em;
  }
  .vizsgalathoz-block{
    .conti {
      max-width: $s2;
      margin: 0 auto;
    }
  }
}

.landinghead{
  @include clearfix();
  background-image: url('../img/menu_2_bg.png');
  background-repeat:  no-repeat;
  background-position: 20% 95%;
}
.landingbott{
  @include clearfix();
  background-color: $white;
}
.contact-wrap{
  //background-color: rgba($eggplant,0.75);

}
.landcont-wrap{
  margin:2em 0;
  text-shadow: 1px 1px 1px rgba(#000,0.5);

}
.landing-title{
  margin-bottom:2em;
  font-size:1.5em;
  @include breakpoint($s1){
    font-size:2em;
  }
}
.landing-content {
  font-size: 1.25em;

  ul.pipas {
    text-transform: uppercase;
    font-weight: 700;
    li {
      &:before {
        color:$orange;
      }
    }
  }
}

