/* ==========================================================================
   Layout
   ========================================================================== */
html * {
  box-sizing:border-box;
}

body {
  background: $blue;
}

.minden {
  position: relative;
  background: $blue-90;
}


.container {
  position: relative;
}

.row {
  max-width: $maximum;
  margin:0 auto;
  padding:0 6px;
  @include breakpoint($s1) {
    padding:0 12px;
  }
  @include breakpoint($s2) {
    padding:0 1em;
  }  

}

.container[role="document"]{
  //position:relative;
  background: url('../img/watermark.png') no-repeat center center transparent;
  //padding:0 2em;
}

.main {
  
  &.wide {
    margin:0 auto;
    padding:2em 0;
    @include breakpoint($s2) {
    }
    @include breakpoint($s3) {

    }
  }
  
  &.narrow {
    padding:2em 0;
    @include breakpoint($s2) {
      width:68%;
      float:left;
    }

    @include breakpoint($s3) {
      width:75%;
      float:left;
    }

  }
}

.page-headerfigure {
  position:relative;
  text-align: center;
  background-color: white;
  img {
    -webkit-filter: grayscale(1) opacity(0.3) ;
    filter:grayscale(1) opacity(0.3);
    //opacity: 0.2;
  }
  .breadcrumbs {
    position: absolute;
    right:0;top:0;left:0;
    margin:2em 1em;
  }
  h1 {
    position: absolute;
    left:0;right:0;
    bottom:0;
    font-size: 2.5em;
    margin: 1em;
    text-shadow: 0 0 3px $blue-90;
    text-align: center;
    &:before {
      position:absolute;
      content: '';
      background: url('../img/sztetoszkop.png') no-repeat center center transparent;
      display: block;
      top:-92px;
      left:0;right:0;
      height:84px;
    }
  
  }
}


.yarpp-related {
  //font-size: 0.875em;
  ol {
    @include clearfix;
    padding:0;
    margin:0;

  }
  .related-item {
    list-style: none;
    width:50%;
    float:left;
    //margin-left: 10%;
    padding-left:2em;
    &:nth-child(2n+1) {
      clear:left;
      padding-left:0;
      padding-right:2em;
    }
    h3 {
      margin-bottom: 0;
    }
    .conti {
      //display: none;
    }

    .read-more{
      margin-top:1em;
    }
  }
}

.comm-fb {
  text-align: center;
}

.tab-pane.post-158 .conti{
  //font-size: 0.875em;
  //background: url('../img/vert_dots.png') repeat-y center top transparent;
  ol {
    counter-reset: my-counter;
    margin:0;
    padding:0;
    li {
      list-style: none;
      counter-increment: my-counter;
      position: relative;
      margin:1em 0; 
      &:before {
        //position:absolute;
        display:block;
        font-size: 2em;
        line-height: 1em;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.25em;
        content: counter(my-counter)'.';
      }
    
      @include breakpoint($s2) {
        width:50%;
        float:left;
        clear:both;
        padding-right: 2em;
        &:nth-child(2n) {
          float:right;
          clear:right;
          margin-top:10em;
          padding-right: 0;
          padding-left: 2em;
        }
      }
    }


  }
}
  
.tab-pane.post-213 {
  .vizsgalathoz-block{
    background: url('../img/kerdojel.png') no-repeat left top transparent;
  }
  .conti {
    max-width: $s2;
    margin: 0 auto;
  }
}

