.page {


  .container[role="document"]{
    
    .row {
      max-width:none;
      padding:0 0;
      @include breakpoint($s1) {
        padding:0 0;
      }
      @include breakpoint($s2) {
        padding:0 0;
      }  

    }

  }

  .main{
    padding-top:0em;
    .page-content {
      margin:0 auto;
      max-width: $s2;
      padding:0 6px;
      > p:first-child{
        font-size:1.125em;
        line-height:1.4em;
        font-weight: 700;
        //font-style:italic;
        color:$blue;
        border-bottom:1px solid $blue-30;
        padding:1em 0;
      }
    }
  }
}


.page-template-page-felezett-php, .page-template-page-tunetek-php, .page-template-page-gyogyitasstart-php {

  .container[role="document"]{
    background-image:none;
    
    .row {
      max-width:none;
      padding:0 0;
      @include breakpoint($s1) {
        padding:0 0;
      }
      @include breakpoint($s2) {
        padding:0 0;
      }  

    }

  }


  
  .main.wide {
    padding:0 0;
    width:auto;
  }

  .felezett {
    @include clearfix;
    position:relative;
    padding:0 0;
    @include breakpoint($s1) {
      padding:0 0;
    }
    @include breakpoint($s2) {
      //background: linear-gradient(to right, $blue-70, $blue-70 50%, $blue-120 50%, $blue-120);
    }  

    .inner {
      max-width: $maximum;
      margin:0 auto;
      @include breakpoint($s2) {
        padding:0 1em;
      }  
      &:after {
        position: absolute;
        content: '';
        left:0;right:0;top:0;bottom:0;
        background: url(../img/hold.png) no-repeat 50% 60%, url(../img/nap.png) no-repeat 50% 30px transparent;
        background-size: 130px auto;
        z-index:0;
        opacity: 0.75;
        @include breakpoint($s2) {
          background: url(../img/hold.png) no-repeat 50% 30px, url(../img/nap.png) no-repeat 50% 30px transparent;
          opacity:1;
        }  
      }
    }
  }

  .feles {
    position: relative;
    z-index: 1;
    
    
    font-size: 16px;
    line-height:22px;
    
    @include breakpoint($s2) {
      width:50%;
      float:left;
    }

    h2 {
      font-size:2em;
      margin:3em 0 2em;
    }
  }
  .feles1 {
    background: url(../img/clouds.png) no-repeat left 1em transparent;
    padding: 2em 6px;
    @include breakpoint($s1) {
      padding:2em 12px;
    }
    @include breakpoint($s2) {
      padding:2em 1em 2em 0;
      background-color: transparent;
    }
    @include breakpoint($s3) {
      padding:2em 2em 2em 0;
    }

  }
  .feles2 {
    //color:$blue-70;
    background: url(../img/stars.png) no-repeat right 1em transparent;
    padding: 2em 6px;
    @include breakpoint($s1) {
      padding:2em 12px;
    }

    @include breakpoint($s2) {
      padding:2em 0 2em 1em;
      background-color: transparent;
    }
    @include breakpoint($s3) {
      padding:2em 0 2em 2em;
    }
    h2 {
      
      @include breakpoint($s3) {
        text-align: right;
      };

      
    }
    
    a{
      //color:$blue-30;
    }
  }




  
  .tuncike {
    @include clearfix;
    margin-bottom:0.5em;
    &:nth-child(2n) {
      //margin-right:0;
      //float:right;
    }


    h3 {
      margin: 0;
      padding:0;
      text-transform: none;
      //font-variant: small-caps;
      a {
        position: relative;
        font-size: 1em;
        line-height: 1.125em;
        display: block;
        font-family: $serif;
        padding:0.75em 2.5em 0.5em 0.75em;
        color:$blue-120;
        background-color: white;
        //border-bottom: 1px solid $blue-90;

        &:hover, &:focus {
          text-decoration: none;
          color:$eggplant;
          .icon:before {
            background-color: $eggplant;
          }
        }
        &.collapsed {
          .icon:before {
            content: "\f1c9";
            //content: "\f27e";
          }
          

        }
      
        .icon:before {
          position:absolute;
          right:0; top:0;bottom:0;
          background-color: $blue-120;
          color:white;
          width:44px;
          text-align:center;
          content: "\f2bd";
          font-size: 2em;
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1.25em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

        }


      }
    }


    .conti {
     .belso {
        @include clearfix;
        padding:0 1em 1em 1em;
        background-color: white;
      }
      
      p {
      }
    }

    .read-more {
      margin:0.75em 0 0 0;  
    }
  }
  
  // .feles2 .tuncike{
  //   h3 {
  //     a {
  //       background-color:$blue-90;
  //       &:hover, &:focus {
  //         //color:$eggplant;
  //         .icon:before {
  //           background-color: $eggplant;
  //           color:white;
  //         }
  //       }
  //       .icon:before {
  //         background-color: $blue-30;
  //         color:$blue-120;
  //       }
  //     }
  //   }
  //   .conti {
  //    .belso {
  //       background-color: $blue-90;
  //     }
      
  //   }

    
  // }

}


.betegsegek {
  //background: url('../img/watermark.png') no-repeat center center white;
  background-color: white;
  padding:2em 0;
  .inner {
    max-width: $maximum;
    margin:0 auto;
    padding:0 6px;
    @include breakpoint($s1) {
      padding:0 12px;
    } 
    @include breakpoint($s2) {
      padding:0 1em;
    }  
  }
}

.betegseg-list {
  @include clearfix;
  margin:0;
  padding:0;
  li {
    list-style: none;

    padding-right:0.5em;
    padding-bottom:0.25em;
    @include breakpoint($s2) {  
      float:left;
      width:50%;
      &:nth-child(2n) {
        float:right;
        padding-right:0;
        padding-left:0.5em;
      }
    }
  }
  a {
    position: relative;
    display: block;
    background-color: $blue-70;
    color:$gray;
    font-weight: 700;
    line-height:1.125em;
    padding:0.5em 1em;
    &:hover, &:focus {
      text-decoration: none;
      background-color: $blue-120;
      color:$blue-90;
      &:before {
        background-color: $red;
      }
    }
    &:before {
      position: absolute;
      top:0;right:0;bottom:0;
      width:40px;
      text-align: center;
      background-color: $blue-30;
      color:white;
      font-size: 2em;
      content: "\f280";
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  }
}


.page-template-page-vizsgalatok-php, .page-template-page-gyogyitasstart-php {

  .container[role="document"]{
   .row {
      //max-width: 100%;
      //margin:0 auto;
    }
    
    aside {
      //max-width: $maximum;
      //margin-left:auto;
      //margin-right:auto;
    }  
  }


  .main.wide{
    width:auto;

  }

  .indent {
    //width:66.6666666%;
    max-width: $maximum;
    margin:0 auto;
    font-size:1.125em;
    line-height: 1.4em;
  }

  .vizsga-lista {
    //font-size: 18px;
    //line-height: 24px;
    margin:5em 0 0;

    .exam {
      .inner {
        max-width: $maximum;
        margin:0 auto;
        padding:6em;
        .js &{
          opacity:0;
          transform: translate(-25%,0);
          transition: all 500ms ease;
          &.onScreen {
            opacity: 1;
            transform: translate(0,0);
          }
        } 
      }

      &:first-child{
        background: url('../img/hattter-05.png') no-repeat center bottom $blue-120 !important;
        background-size: 100% 100% !important; 
        color:$blue-90 !important;
        a {
          color:$red;
        } 
      }
      // &:last-child{
      //   background: $blue-70 !important; 
      //   color:$blue-120;
      //   a {
      //     color:$orange;
      //   } 
      // }

      &:nth-child(2n){
        background:  $blue-30;
      }

      &:nth-child(2n+1){
        background: $blue;
        color:$blue-90;
        a {
          color:$red;
        } 
      }
      &:nth-child(3n){
        background: $blue-70;
        color:$blue-120;
        a {
          color:$orange;
        } 
      }
      // &:nth-child(3n+1){
      //   background: $eggplant;
      //   color:$blue-90;
      //   a {
      //     color:white;
      //   } 
      // }
      &:nth-child(3n+1){
        background: white;
        color:$blue-120;
        a {
          //color:white;
        } 
      }

      .read-more {
        //display:block;
        margin-top:1em;
        color:white !important;
        background: $red;
        &:hover, &:focus {
          background: $orange;
        }
      }


      figure {
        float:right;
        //margin-left:2em;
        padding:1em 1em 3em;
        width:30%;
        text-align: center;
        img {
          margin:0.25em 0.25em;
          opacity:1;
        }

      }
      &:nth-child(2n) {

        figure {
          float:left;
          //margin-right:2em;
          //margin-left:0;
        }
      }


    }
  }
}


.mitortenik {
  background: $blue-30;
}


.page-template-page-kozpontok-php{
  .container[role="document"]{
    .row {
      max-width: $maximum;
      margin:0 auto;
      padding:0 6px;
      @include breakpoint($s1) {
        padding:0 12px;
      }
      @include breakpoint($s2) {
        padding:0 1em;
      }  
    }
  }


  .vizsgalatokhoz {
  }
  .vizsgalathoz-block{
    .conti {
      max-width: $s2;
      margin: 0 auto;
    }
  }

  .main.wide {
    width:auto;
    padding-top:2em;
  }

  .page-header {
    h1 {
      //margin-top: 0;
    }
  }



  .tab-content {
    padding: 1em;
    border: 1px solid $blue-70;
  }

} 


.orvoslista-blokk {
  @include clearfix();
  margin:0 auto;
  max-width: $s3;
  .orvoskocka{
    text-align: center;
    
    padding:1em;

    @include breakpoint($s1){
      width:50%;
      float:left;
      &:nth-child(2n+1) {
        clear:left;
      }

    }
    
    @include breakpoint($s2){
      width:33.333%;
      float:left;
      &:nth-child(2n+1) {
        clear:none;
      }
      &:nth-child(3n+1) {
        clear:left;
      }
    }

    // @include breakpoint($s3){
    //   width:25%;
    //   float:left;
    //   &:nth-child(3n+1) {
    //     clear:none;
    //   }
    //   &:nth-child(4n+1) {
    //     clear:left;
    //   }
    // }
    .orvos-figure {
      position: relative;
      display: block;
      &:after {
        content:'';
        position: relative;
        display: block;
        margin:-35px auto 0;
        z-index:1;

        //position:absolute;
        background-image: url(../img/logo_pajzs.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width:70px;
        height:70px;
      }

    }
    img {
      border:2px solid $blue;
    }
    h3{
      margin:0.5em 0 0;
      text-transform: none;
      a {
        color:$blue;
      }
    }
    .titulus{
      margin:0;
    }
    .city {
      margin:0;
      font-style: italic;
      font-size: 0.875em;
    }

  }
}

.disclaimer{
  max-width: $s2;
  margin:0 auto;
}