.page-template-page-felezett-php, .page-template-page-tunetek-php {

  .container[role="document"]{
    
    .row {
      max-width:none;
      padding:0 0;
      @include breakpoint($s1) {
        padding:0 0;
      }
      @include breakpoint($s2) {
        padding:0 0;
      }  

    }

  }


  
  .main.wide {
    //background: linear-gradient(to right, transparent, transparent 50%, $blue-120 50%, $blue-120);
    //background: black;
    //padding:0 0;
    width:auto;
    background: linear-gradient(to right, $blue-70, $blue-70 50%, $blue-120 50%, $blue-120);
  }


  .felezett {
    background: linear-gradient(to right, $blue-70, $blue-70 50%, $blue-120 50%, $blue-120);
  }

  .feles {
    width:50%;
    float:left;
    padding:2em;
    font-size: 16px;
    line-height:22px;

  }
  .feles2 {

    h2 {
      color:$blue-70;
    }
    
    a{
      //color:$blue-30;
    }
  }

  .fejecske {
    //background: white;
    //color:$blue-90;
    max-width: $maximum;
    margin:0 auto 0 auto;
    font-size:1.125em;
    line-height: 1.4em;
    a {
      //color:$red;
    }
  }

  .page-header {
    text-align: center;
    margin:0 auto;
    width: 50%;

    float:left;
    padding:0 1em;

    h1 {
      //border:1px solid $blue-120;
      padding:0.5em 0.5em;
      margin:0;
    }

  }
  .fej-cont {
    margin:0 auto;
    width: 50%;
    float:right;
    padding:0 1em;
    color:$blue-90;
    font-size: 0.875em;
  }

  
  .tuncike {
    width:50%;
    float:left;
    padding:0.25em;
    //margin-right: 2%;
    &:nth-child(2n) {
      //margin-right:0;
      float:right;
    }


    h3 {
      //text-transform: none;
      font-size: 1em;
      margin: 0;
      font-weight: 300;
      font-family: $sans-serif;

      a {
        min-height: 5.25em;
        display: block;
        padding:1em 0.75em 0.75em 0.75em;
        background: $red;
        color:white;        
        &:hover, &:focus {
            text-decoration: none;
        }
        &.collapsed {
          background: white;
          color:$blue-120;
          &:hover, &:focus {
            text-decoration: none;
            background: $red;
            color:white;
          }
        }
        
        
      }
      
    }
    .conti {

      background: white;
      //border-top: 2px solid $red;
      .belso {
        padding:1em 1em;
      }
      
      p {
      }
    
    }

    .read-more {
      margin:0.75em 0 0 0;  
    }
  }


}


.page-template-page-vizsgalatok-php, .page-template-page-gyogyitasstart-php {

  .container[role="document"]{
   .row {
      max-width: 100%;
      margin:0 auto;
    }
    
    aside {
      max-width: $maximum;
      margin-left:auto;
      margin-right:auto;
    }  
  }


  .main.wide{
    //padding:0 0;
    width:auto;

  }

  .indent {
    //width:66.6666666%;
    max-width: $maximum;
    margin:0 auto;
    font-size:1.125em;
    line-height: 1.4em;
  }

  .vizsga-lista {
    //font-size: 18px;
    //line-height: 24px;
    margin:5em 0 0;

    .exam {
      .inner {
        max-width: $maximum;
        margin:0 auto;
        padding:6em;
        .js &{
          opacity:0;
          transform: translate(-25%,0);
          transition: all 500ms ease;
          &.onScreen {
            opacity: 1;
            transform: translate(0,0);
          }
        } 
      }

      &:first-child{
        background: url('../img/hattter-05.png') no-repeat center bottom $blue-120 !important;
        background-size: 100% 100% !important; 
        color:$blue-90 !important;
        a {
          color:$red;
        } 
      }
      // &:last-child{
      //   background: $blue-70 !important; 
      //   color:$blue-120;
      //   a {
      //     color:$orange;
      //   } 
      // }

      &:nth-child(2n){
        background:  $blue-30;
      }

      &:nth-child(2n+1){
        background: $blue;
        color:$blue-90;
        a {
          color:$red;
        } 
      }
      &:nth-child(3n){
        background: $blue-70;
        color:$blue-120;
        a {
          color:$orange;
        } 
      }
      // &:nth-child(3n+1){
      //   background: $eggplant;
      //   color:$blue-90;
      //   a {
      //     color:white;
      //   } 
      // }
      &:nth-child(3n+1){
        background: white;
        color:$blue-120;
        a {
          //color:white;
        } 
      }

      .read-more {
        //display:block;
        margin-top:1em;
        color:white !important;
        background: $red;
        &:hover, &:focus {
          background: $orange;
        }
      }


      figure {
        float:right;
        //margin-left:2em;
        padding:1em 1em 3em;
        width:30%;
        text-align: center;
        img {
          margin:0.25em 0.25em;
          opacity:1;
        }

      }
      &:nth-child(2n) {

        figure {
          float:left;
          //margin-right:2em;
          //margin-left:0;
        }
      }


    }
  }
}



.page-template-page-gyogyitasstart-php {

  .gyogystartblokk {
    margin-bottom: 4em;

    .container {
      border-top: 3px solid $red;
      background: $blue-70;
      max-width: $maximum;
      margin:0 auto;
      padding:4em 6em 4em 6em;

      .row {
      }


    }
  }
}



.mitortenik {
  background: $blue-30;
}


.page-template-page-kozpontok-php{
  .container[role="document"]{
   padding:0 1em;
  }

  .main.wide {
    width:auto;
  }

  .page-header {
    h1 {
      margin-top: 0;
    }
  }

  .felteke {
    //margin:2em auto;

  }

 .balfel {
  @include breakpoint($s2) {
    width:48%;
    float:left;
    margin-right: 4%;
  }

 }

 .jobbfel {  
  @include breakpoint($s2) {
    width:48%;
    float:left;
  }
 }

 .tab-content {
  padding: 1em;
  background: $blue-70;
  border-top: 3px solid $red;
 }

} 
