.tunetnav {
  @include clearfix();
  margin-bottom: 1rem;
  @include breakpoint($s2) {
    width:50%;
    float:left;
  }
  h3 {
    font-size: 1.5rem;
    text-transform: none;
    margin-bottom: .5rem;
  }
}

.subpagetoc {
 margin:0;
 padding:0;
  li {
    display: inline-block;
    font-size: 87.5%;
    font-style: italic;
    &:not(:last-child):after {
      content:'·';
      display: inline;
    }
    a {
      color:inherit;
    }
  }
}


.tuncike {
  @include clearfix;
  margin-bottom:0.5em;

  h3 {
    margin: 0;
    padding:0;
    text-transform: none;
    //font-variant: small-caps;
    a {
      position: relative;
      font-size: 1em;
      line-height: 1.125em;
      display: block;
      font-family: $serif;
      padding:0.75em 2.5em 0.5em 0.75em;
      color:$blue-120;
      background-color: white;
      //border-bottom: 1px solid $blue-90;

      &:hover, &:focus {
        text-decoration: none;
        color:$eggplant;
        .icon:before {
          background-color: $eggplant;
        }
      }
      &.collapsed {
        .icon:before {
          content: "\f1c9";
          //content: "\f27e";
        }


      }

      .icon:before {
        position:absolute;
        right:0; top:0;bottom:0;
        background-color: $blue-120;
        color:white;
        width:44px;
        text-align:center;
        content: "\f2bd";
        font-size: 2em;
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1.25em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

      }


    }
  }


  .conti {
   .belso {
      @include clearfix;
      padding:0 1em 1em 1em;
      background-color: white;
    }

    p {
    }
  }

  .read-more {
    margin:0.75em 0 0 0;
  }
}



.tunetlistawrap {
  @include clearfix();
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.tunetek {
  position: relative;
  background-repeat: no-repeat;
  background-position: center .5rem;
  background-image: url(../img/clouds.png);
  padding-top: 6rem;
  padding-bottom: 2rem;

  &:before {
    opacity: .1;
    content:'';
    position: absolute;
    right:4%;
    top:1.25rem;
    display: block;
    width:96%;
    height:3.5rem;
    background-image: url(../img/nap.png);
    background-repeat: no-repeat;
    background-position: 64% center;
    background-size: auto 85%;
  }

  header {
    margin-bottom: 2rem;
  }

  @include breakpoint($s2) {
    width:50%;
    float:left;
    padding-right: 2%;
  }
}

.tunetek--ejszakai {
  background-image: url(../img/stars.png);
  &:before {
    right:0;
    background-image: url(../img/hold.png);
        background-size: auto 100%;
    opacity: 1;
  }
  @include breakpoint($s2) {
    padding-left: 2%;
    padding-right: 0;
    width:50%;
    float:right;
  }
}
.tunet {

}

.tunet__wrap {

}

.tunet__name {
  text-transform: none;
}



