.page-template-page-survey-php{
  .balfel{
   
  }
}
/*------------------------------------------------*/
/* Minimal Quiz Style                             */
/*------------------------------------------------*/
.wpss {
  padding:1em;
  border:1px solid $blue;
  margin:2em 0;

  .wpss-form {
  }

  /* Hide questions on load, show first question. */
  .wpss-hidden{ display: none; }
  .wpss_panel_1{ display: block; }

  /* Next and Previous Buttons */
  .wpss_prev_next{
    text-align:center;
    margin-top:0;
    a {
      font-family: $sans-serif;
      font-weight: 600;
      background-color:$red;
      padding:0.25em 0.75em;
      display: inline-block;
      color:$blue-90;
      border:1px solid $red;
      &:hover, &:focus{
        background-color: $orange;
        text-decoration: none;
      }
      &.wpss_disabled, &.wpss_disabled:hover{
        cursor: default;
        text-decoration: none;
        color: $blue-30;
        border:1px solid $blue-30;
        background-color: transparent;
      }
    }
    
  }

}
.wpss-clear{ float:none; clear: both; }

.wpss fieldset{
  @include clearfix();
  border: 0 solid #c0c0c0;
  //background-color: $blue-90;
  //background-color:rgba($blue-90,0.75);
  margin: 0 0;
  padding: 0 0 1em;
}

.wpss_prev_next a {margin: 0 15px;}

/*------------------------------------------------*/
/* Question Field Styling                         */
/*------------------------------------------------*/
.wpss {
  .wpss-question img{
    margin: 5px 0;  
  }

  .wpss-question img.alignright{
    margin: 5px 0;
  }
  .wpss-question img.aligncenter{
    margin: 5px auto;  
  }

  .wpss-question img.alignnone{
    display: block;
  }

  .wpss-question .wp-caption.alignright{
    margin: 5px 0;
  }
}


/*------------------------------------------------*/
/* Answer Field Styling                           */
/*------------------------------------------------*/

.wpss {
  textarea{
    width: 100%;  
    min-height: 120px;
  }

  .answers label img{
    margin: 5px 0;  
  }

  .answers label img.aligncenter{
    margin: 5px auto;  
  }

  .answers label img.alignnone{
    display: block;
  }
}

/*------------------------------------------------*/
/* Custom Field Styling                           */
/*------------------------------------------------*/
.wpss {
  .wpss-submit-message{ margin-bottom: 10px; }
  
  .wpss-fields{ 
    margin-bottom: 15px;
    
    .wpss-field{
      margin-bottom: 5px;
    }
    
    label{ display:none; }
    input[type='text'], input[type='email'] {
      //float:right;
      width:100%;
      display: block;
      border:1px solid $blue;
      background: $white;
      margin:0.5em 0;
      padding:0.5em 0.5em;
      color:$blue-text;
      &:hover, &:focus {
        outline:1px solid lighten($blue-30,40%);
        //  background:$gray-lighter;
      } 
    }
    select{
      float:right;
    }

    /* Uncomment to float fields to the right of their labels. */
    /*
      label{ display: inline; }
      
    */
  }
  input[type='submit'] {
    display:block;
    background-color: $blue;
    color:$blue-90;
    border:0;
    padding:0.5em 1em;
    width:100%;
    font-size:1.5em;
    line-height: 1em;
    font-family: $sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    &:hover, &:focus{
      background-color: $blue-text;
    }


    
  }
}


/*------------------------------------------------*/
/* Progress Bar                                   */
/*------------------------------------------------*/
.wpss {
  .wpss-progress-bar { 
    display: block;
    //background-color:$blue-90;
    //background-color:rgba($blue-90,0.75);
    border:1px solid $blue-30;
    margin: 0 0;
    padding: 0.25em;
    height: 1.5em;
  }


  .wpss-progress-bar span{
    display: block;
    height: 100%;
    width: 0;
    background-color: $green;  
  }
}
/*------------------------------------------------*/
/* Routed to page styling for results             */
/*------------------------------------------------*/

/* Score */
.wpss_results_score{ margin-bottom: 15px; }


/* Full Results */
.wpss_results_qa {

  .wpss_results_answer {
    margin-bottom: 15px;

    .wpss_results_question_text{ }

    .wpss_results_answer_text{ }

    .wpss_results_answer_score{ }

    .wpss_results_answer_score span{ }

    .wpss_results_answer_score span.score_label{ }

    .wpss_results_answer_score span.score{ }

  }
}
